extends layout

block content
  .container
    h3= title

    form(name="userinfo", method="post", action="/registered")
      .form-group
        input.form-control(type='text', placeholder='First Name', name='fname')

      .form-group
        input.form-control(type='text', placeholder='Last Name', name='lname')

      .form-group
        input.form-control(type='text', placeholder='Email', name='email')

      button.btn.btn-primary(type='submit') Submit
